@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-beige-100;
  font-family: var(--font-geist-sans);
}

code {
  font-family: var(--font-geist-mono);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
}

h1 {
  @apply text-8xl;
}

h2 {
  @apply text-4xl;
}

h3 {
  @apply text-3xl;
}

h4 {
  @apply text-2xl;
}

h5 {
  @apply text-xl;
}

h6 {
  @apply text-lg;
}

.caption {
  @apply text-sm;
  @apply text-neutral-400;
  /* make bold */
  @apply font-semibold;
  @apply uppercase;
}

.markdown {
  a {
    @apply text-blue-950;
    @apply underline;
  }
}
